body{
    margin: 0;
    display: grid;
    grid-template-areas: "head", "article", "aside";
    
}
#head{
    background-image: url("2023-BMW-8-Series-Hero.png");
    height: 250px;
    width: auto;
    display: grid;
    align-items: end;
    font-size: 16px;
}
#btn{
  background-color: bisque;
  grid-column: 7/8;
  grid-row: 1/3;
  align-self:center;
  color: rgb(82, 82, 82);
}
#btn:hover{
    cursor: pointer;
      background-color: rgb(247, 204, 152);
     color: rgb(63, 62, 62);
}
#topic{
    display: grid;
    grid-row: 2/3;
    grid-column: 1/7;
    background-color: rgb(250, 235, 215, 0.5);
    color: rgb(82, 82, 82);
}
#name{
    grid-row: 1/2;
    grid-column: 1/7;
    font-weight: bold;
    font-size: 18px;
    color:rgb(170, 109, 78); 
}
.foto{
    height: 250px;
    width: 400px;
    grid-row: 3/4;
    grid-column: 1/2;
    margin-right: 15px;
}
#main{
    display: grid;
}
#article{
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
}
.car{
display: grid;
margin: 15px 10px 0 5px;
}
.topic{
    grid-column: 1/3;
    grid-row: 1/2;
   margin: 0;
     color: rgb(170, 109, 78);
     font-size: 16px;
}
.info_avtor{
    grid-column: 1/3;
    grid-row: 2/3;
    color: rgb(134, 134, 134);
    font-style: oblique;
    font-size: 14px;
}

.coment{
   background-color: rgb(170, 109, 78);
   color: aliceblue;
    grid-column: 1/3;
    margin-top: 10px;
    padding: 10px 0 10px 10px;
}
strong{
    padding: 0 5px 0 5px;
}
#aside{
    background-color: rgb(247, 211, 193);
    grid-column: 2/3;
    grid-row: 1/3;
    display: grid;
    grid-auto-rows: 20px;
    padding: 0 30px 0 10px;
    gap: 5px;
    width: 250px;    
}
#log{
    grid-column: 1/8;
    grid-row: 2/4;
    color:  rgb(170, 109, 78);
    font-size: 18px;
    
}
#username{
    grid-column: 1/3;
    grid-row: 4/6;
    font-size:14px ;
}
.snow{
    color:  rgb(170, 109, 78);
}
input{
    width: 70px;
}
#password{
    grid-column: 1/3;
    grid-row: 6/8;
    font-size: 14px;
}
#btn_log{
    grid-column: 3/5;
    grid-row: 7/8;
    background-color:  rgb(170, 109, 78);
    color: antiquewhite;
    width: 60px;
}
#create{
    grid-column: 3/5;
    grid-row: 5/6;
    color: rgb(170, 109, 78);
}
#request{
    grid-column: 3/5;
    grid-row: 6/7;
    color: rgb(170, 109, 78);
}
#navigation{
    grid-column: 1/4;
    grid-row: 7/9;
    color:  rgb(170, 109, 78);
    font-size: 18px;
    font-weight: bold;
}
#res{
    color: rgb(170, 109, 78);
    grid-column: 1/4;
    grid-row: 9/10;
}
.hov:hover{
    font-weight: bolder;
    cursor: pointer;
}
@media(max-width: 900px){
 
.foto{
    width: 250px;
    height: auto;
}
.article{
    float: left;
    font-size: smaller;
}
.coment{
font-size: 12px;
    margin-top: 8px;
    padding: 8px 0 8px 8px;
}
#aside{
    width: 200px;
}
#log{
    font-size: 14px;
}
#username,
#password{
    font-size: 12px;
}
#create{
    grid-column: 1/5;
    grid-row: 8/9;
    font-size: 14px;
}
#request{
    grid-column: 1/5;
    grid-row: 9/10;
    font-size: 14px;
}
#btn_log{
    grid-column: 1/5;
    grid-row: 10/11;
    width: 80px;
     font-size: 12px;
}
#navigation{
    grid-column: 1/5;
    grid-row: 11/12;
    font-size: 14px;
}
#res{
    grid-column: 1/5;
    grid-row: 13/15;
    font-size: 12px;
}
}
@media(max-width: 600px){
#head{
    height: 150px;
    width: 100%;
    font-size: 12px;
    }
#text{
        display: none;
    }
#name{
        font-size: 14px;
    }
#main{
        display: grid;
        grid-template-columns: 4fr 1fr;
    }
.foto{
    width: 250px;
    height: auto;
}
.article{
    display: none;
}
.coment{
font-size: 10px;
    margin-top: 4px;
    padding: 8px 0 8px 8px;
}
#aside{
    width: 80px;
}
input{
    width: 60px;
}
#log{
    font-size: 10px;
}
#username,
#password{
    font-size: 10px;
}
#create{
    grid-column: 1/5;
    grid-row: 8/9;
    font-size: 11px;
}
#request{
    grid-column: 1/5;
    grid-row: 9/10;
    font-size: 11px;
}
#btn_log{
    grid-column: 1/5;
    grid-row: 10/11;
    width: 70px;
     font-size: 12px;
}
#navigation{
    grid-column: 1/5;
    grid-row: 12/13;
    font-size: 12px;
}
#res{
    grid-column: 1/5;
    grid-row: 14/16;
    font-size: 11px;
}
}
